<!DOCTYPE html>
<html>
<head>
    <title>Загрузка изображения и отображение таблицы</title>
</head>
<body>
    <h1>Загрузка изображения и отображение таблицы</h1>

    <input type="file" id="imageInput" accept="image/*">
    <button onclick="uploadImage()">Загрузить изображение</button>

    <div id="imagePreview"></div>

    <h2>Таблица</h2>
    <table id="dataTable" border="1">
        <thead>
            <tr>
                <th>#</th>
                <th>Название</th>
                <th>Цена</th>
                <th>Кол.</th>
                <th>Сумма</th>
            </tr>
        </thead>
        <tbody id="tableBody">
            <!-- Здесь будут добавляться строки из скрипта -->
        </tbody>
    </table>

<script>
    async function uploadImage() {
        var input = document.getElementById('imageInput');
        var preview = document.getElementById('imagePreview');

        if (input.files && input.files[0]) {
            var formData = new FormData();
            formData.append('file', input.files[0]);

            try {
                const response = await fetch('/get_table_data', {
                    method: 'POST',
                    body: formData
                });

                const data = await response.json();

                const tableBody = document.getElementById('tableBody');
                tableBody.innerHTML = ''; // Очищаем содержимое tbody

                // Добавляем строки из данных
                data.forEach(rowData => {
                    const newRow = tableBody.insertRow();

                    for (const cellData of rowData) {
                        const cell = newRow.insertCell();
                        cell.textContent = cellData;
                    }
                });
            } catch (error) {
                console.error('Ошибка при загрузке данных таблицы:', error);
            }
        }
    }

    // Загрузка данных таблицы при загрузке страницы
    window.onload = loadTableData;
</script>
</body>
</html>
